force-app/main/default/flows/CopyAssignmentsFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_current_to_forinsert_thingy</name>
        <label>Add current to forinsert thingy</label>
        <locationX>481</locationX>
        <locationY>165</locationY>
        <assignmentItems>
            <assignToReference>assignmentsforinsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentassignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_each_found_assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_on_current_assignment</name>
        <label>Set values on current assignment</label>
        <locationX>612</locationX>
        <locationY>391</locationY>
        <assignmentItems>
            <assignToReference>currentassignment.ResourceHeroApp__Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_each_found_assignment.ResourceHeroApp__Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentassignment.ResourceHeroApp__Resource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_each_found_assignment.ResourceHeroApp__Resource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentassignment.ResourceHeroApp__Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_through_each_found_assignment.ResourceHeroApp__Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentassignment.ResourceHeroApp__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DestinationOpportunityLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_to_forinsert_thingy</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CopyAssignmentsFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CopyAssignmentsFlow</label>
    <loops>
        <name>Iterate_through_each_found_assignment</name>
        <label>Iterate through each found assignment</label>
        <locationX>370</locationX>
        <locationY>390</locationY>
        <collectionReference>Get_assignments_related_to_source</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_values_on_current_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_the_assignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_the_assignments</name>
        <label>Insert the assignments</label>
        <locationX>372</locationX>
        <locationY>631</locationY>
        <inputReference>assignmentsforinsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_assignments_related_to_source</name>
        <label>Get assignments related to source</label>
        <locationX>176</locationX>
        <locationY>390</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_each_found_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResourceHeroApp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SourceOpportunityLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResourceHeroApp__Resource_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_assignments</name>
        <label>Copy assignments</label>
        <locationX>176</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_assignments_related_to_source</targetReference>
        </connector>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;Var:  {!recordId}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current:  {!$Flow.CurrentRecord}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SourceOpportunityLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ResourceHeroApp__Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Source Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ResourceHeroApp__Resource_Assignment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>sourcerecordid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DestinationOpportunityLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ResourceHeroApp__Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Destination Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>ResourceHeroApp__Resource_Assignment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Copy_assignments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>assignmentsforinsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceHeroApp__Resource_Assignment__c</objectType>
    </variables>
    <variables>
        <name>currentassignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ResourceHeroApp__Resource_Assignment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sourcerecordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
